{% extends "layout.html" %}
{% block content %}
<h4>Infos</h4>
<ul class="list-group">
    <li class="list-group-item">
    <a href="{{ url_for('calendar', feed_name=feed_name) }}">URL d'abonnement (à coller dans iCal)</a>
    </li>
    <li class="list-group-item">
    <a href="{{ feed_info.feed_webpage }}">Page du séminaire</a>
    </li>
</ul>    
</p>

<h4>Upcoming events</h4>
<ul class="list-group">
{% for e in upcoming_events %}
    <li class="list-group-item">
    {{ moment(e.begin).calendar() }} — <a href="{{ e.url }}">{{ e.description }}</a>
    <p><small>{{ e.name }}</small></p>
    </li>
{% endfor %}
</ul>
<br />

<h4>Past events</h4>
<ul class="list-group">
{% for e in past_events %}
    <li class="list-group-item">
    {{ moment(e.begin).calendar() }} — <a href="{{ e.url }}">{{ e.description }}</a>
    <p><small>{{ e.name }}</small></p>
    </li>
{% endfor %}
</ul>
<br />

{% endblock %}
